.custom-card-title {
    color: #007bff;
  }
  .dropdown{
    padding-top: 30px;
  }
  .card-text{
    color: green;
  }
  .card {
    border-radius: 5px;
  }
  .row1{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    .customcol {
      cursor: pointer;
    p {
      &:hover {
        color: blue;
      }
    }
    }
  }
  .quasudung {
    padding-top: 50px;
    height: 1000px;
    width: 100%;
    background-image: url(imgcontent/nenmer.png)
   
  }
  .daili{
    padding-top: 40px;
    a{
      text-decoration: none;
    }
    p{
      font-size: 15px;
    }
    .xemchitiet{
      background-color: #ccc;
      border: none;
      &:hover{
        background-color: #007bff;
      }
    }
  }